<div class="container mt-3">
  <div class="profile-container">
    <div class="avatar-and-name-container">
      <div class="avatar-container">
        <%= image_tag "https://api.dicebear.com/9.x/pixel-art/svg?seed=#{CGI.escape(@artwork.artist_name)}", alt: 'avatar', class: 'avatar-img-profile' %>
      </div>
      <div class="artist-info">
        <h2><%= @artist_name %></h2>
        <%= link_to "Return to artwork", artwork_path, class: "card-text view-profile" %>
      </div>
    </div>

    <!--<div class="links">

      <%= link_to "+", new_artwork_path, class: "btn btn-warning" %>
      <%= link_to "Edit profile", new_artwork_path, class: "btn btn-primary" %>
    </div> -->

    <div class="bio">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere in perferendis illum beatae fuga aspernatur quod tempora quidem, nostrum quo autem adipisci neque repudiandae vel officia sint fugit maiores quas.</div>

    <div class="artist-artworks">
      <h3>Artworks by <%= @artwork.artist_name %></h3>
      <div class="artworks-grid">
        <% @artworks.each do |artwork| %>
          <div class="artwork-thumbnail">
            <% if artwork.images.attached? %>
              <%= image_tag artwork.images.first, alt: artwork.title %>
            <% else %>
              <%= image_tag 'default_artwork.jpg', alt: 'No image available' %>
            <% end %>
            <p><%= artwork.title %></p>
            <p>Price: <%= number_to_currency(artwork.price_per_month, unit: "€") %>/month</p>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
