<div class="col" data-artwork-filter-target="artworkInfo" data-medium="<%= artwork.medium.downcase %>" data-artist="<%= artwork.artist_name.downcase %>">
  <div class="card h-100">
    <% if artwork.image.attached? %>
      <%= link_to artwork_path(artwork) do %>
        <%= image_tag artwork.image, class: "card-img-top", alt: artwork.title %>
      <% end %>
      <%= link_to "+", artwork_path(artwork), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-remove-link" %>
    <% end %>
      <div class="card-info">
      <div class="card-body">
        <h5 class="card-title"><%= artwork.title %></h5>
        <p class="card-text"><%= artwork.artist_name %></p>
      </div>
      <p class="card-medium"><%= artwork.medium %></p>
    </div>
  </div>
</div>
