  <!-- form -->
  <div class="search-container">
    <%= form_with url: artworks_path, method: :get, class: "search-form", local: true do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
    <div class="input-group-append">
      <%= link_to "x", artworks_path, class: "btn btn-clear" %>
      <%= submit_tag "Search", name: "", class: "btn btn-search" %>
    </div>
  </div>
<% end %>
  </div>

<!--Filters -->
<div class="container" data-controller="artwork-filter">
  <div class="filter">
  <div class="navbar-nav ml-auto">
    <ul id="filter-navbar" class="nav nav-tabs custom-tabs custom-filter-navbar d-flex justify-content-center mb-3">
      <li class="nav-item">
        <%= link_to "All", artworks_path, class: "nav-link", data: { action: "click->artwork-filter#toggleInfo", filter: "all", artwork_filter_target: "filter" } %>
      </li>
      <li class="nav-item">
        <%= link_to "Painting", artworks_path(filter: 'painting'), class: "nav-link", data: { action: "click->artwork-filter#toggleInfo", filter: "painting", artwork_filter_target: "filter" } %>
      </li>
      <li class="nav-item">
        <%= link_to "Photography", artworks_path(filter: 'photography'), class: "nav-link", data: { action: "click->artwork-filter#toggleInfo", filter: "photography", artwork_filter_target: "filter" } %>
      </li>
      <li class="nav-item">
        <%= link_to "Drawing", artworks_path(filter: 'drawing'), class: "nav-link", data: { action: "click->artwork-filter#toggleInfo", filter: "drawing", artwork_filter_target: "filter" } %>
      </li>
      <li class="nav-item">
        <%= link_to "Mixed media", artworks_path(filter: 'mixed media'), class: "nav-link", data: { action: "click->artwork-filter#toggleInfo", filter: "mixed media", artwork_filter_target: "filter" } %>
      </li>
      <li class="nav-item">
        <%= link_to "Sculpture", artworks_path(filter: 'sculpture'), class: "nav-link", data: { action: "click->artwork-filter#toggleInfo", filter: "sculpture", artwork_filter_target: "filter" } %>
      </li>
    </ul>
  </div>

<!--Artworks -->
 <div id="artworks-container">
  <% # Check if @artworks is a Hash %>
  <% if @artworks.is_a?(Hash) %>
    <% # If @artworks is a Hash, iterate over each key-value pair %>
    <% @artworks.each do |key, artworks| %>
      <% # Render a header for each group of artworks, using the key as the header text %>
      <h4 class="group-header" data-artwork-filter-target="groupHeader"><%= key %></h4>
      <% # Create a Bootstrap row with responsive columns to display artworks %>
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        <% # Render the 'artwork' partial for each artwork in the current group %>
        <%= render partial: 'artwork', collection: artworks, as: :artwork %>
      </div>
    <% end %>
  <% else %>
    <% # If @artworks is not a Hash, treat it as a collection of artworks %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% # Render the 'artwork' partial for each artwork in the collection %>
      <%= render partial: 'artwork', collection: @artworks, as: :artwork %>
    </div>
  <% end %>
</div>

</div>
</div>
