<div class="container">
  <div class="filter">
    <ul id="filter-navbar" class="nav nav-tabs custom-tabs custom-filter-navbar d-flex justify-content-center mt-4 mb-5">
      <li class="nav-item">
        <%= link_to "All", artworks_path, class: "nav-link #{params[:filter].blank? ? 'active' : ''}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Artist", artworks_path(filter: 'artist'), class: "nav-link #{params[:filter] == 'artist' ? 'active' : ''}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Medium", artworks_path(filter: 'medium'), class: "nav-link #{params[:filter] == 'medium' ? 'active' : ''}" %>
      </li>
    </ul>
  </div>

  <div id="artworks-container">
    <% if @artworks.is_a?(Hash) %>
      <% @artworks.each do |key, artworks| %>
        <h3><%= key %></h3>
        <div class="row">
          <%= render partial: 'artwork', collection: artworks %>
        </div>
      <% end %>
    <% else %>
      <div class="row">
        <%= render partial: 'artwork', collection: @artworks %>
      </div>
    <% end %>
  </div>
</div>
