
<div class="artist-page" data-controller="artwork-gallery" data-artwork-gallery-current-artwork-id-value="<%= @artwork.id %>">
  <div class="background-image" style="<%= "background-image: url(#{url_for(@artwork.images.first)})" if @artwork.images.attached? && @artwork.images.first.present? %>"></div>
    <div class="content-container">

      <div class="avatar-container">
        <div class="avatar-and-info">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://api.dicebear.com/9.x/pixel-art/svg?seed=#{CGI.escape(current_user.email)}", alt: 'avatar', class: 'avatar-img' %>
          </a>
        <div class="artist-info-show">
          <p class="card-text-show"><%= @artwork.artist_name %></p>
        </div>
          <%= link_to "View artist's profile", profile_path(@artwork.id), id: "test-profile-link", class: "card-text view-profile" %>

        </div>
        <div class="favourite">
          <i class="fa-regular fa-heart"></i>
        </div>
      </div>



<!-- artwork details -->
  <div class="card h-100">
    <div class="card-body-show">
      <h5 class="card-title-show"><%= @artwork.title %></h5>
      <p class="card-text-show width">Width: <%= @artwork.width ? "#{@artwork.width} cm" : "Not specified" %></p>
      <p class="card-text-show height">Height: <%= @artwork.height ? "#{@artwork.height} cm" : "Not specified" %></p>
      <p class="card-text-show price">Price/month: <%= @artwork.price_per_month %> Euros</p>
    </div>

      <!-- Large image display -->
      <div id="largeImageContainer" class="large-image-container">
        <% if @artwork.images.attached? && @artwork.images.first.present? %>
          <%= image_tag @artwork.images.first, class: "large-image", alt: @artwork.title, id: "largeImage", data: { artwork_gallery_target: "largeImage" }%>
        <% else %>
          <%= image_tag 'default_artwork.jpg', class: "large-image", alt: "No image available", id: "largeImage", data: { artwork_gallery_target: "largeImage" } %>
        <% end %>
      </div>

      <!-- All artworks by the artist -->
      <div class="artist-artworks" >
        <h3>Artworks by <%= @artwork.artist_name %></h3>
        <div class="artworks-grid">
          <% @artworks.each do |artwork| %>
            <div class="artwork-thumbnail" data-artwork-id="<%= artwork.id %>">
              <% if artwork.images.attached? %>
                <%= image_tag artwork.images.first, alt: artwork.title, class: "thumbnail-image",  data: { artwork_gallery_target: "thumbnail", action: "click->artwork-gallery#updateImage" } %>
              <% else %>
                <%= image_tag 'default_artwork.jpg', alt: 'No image available', class: "thumbnail-image",  data: { artwork_gallery_target: "thumbnail", action: "click->artwork-gallery#updateImage" } %>
              <% end %>
              <p><%= artwork.title %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= link_to "Back to artworks", artworks_path, class: "btn btn-warning mt-5" %>
  </div>
</div>
    <!-- add more carousel items here -->
